# -*- coding: utf-8 -*-
# vim: ft=jinja

{%- macro service_segment(service_name, service) -%}
[ {{ service_name }} ]
{%  for key in service.keys() | sort -%}
{%    set setting = service.get(key) -%}
{%    if key == 'name' -%}
{#      don't show -#}
{%    elif setting is iterable and setting is not string -%}
{%      for value in setting -%}
{{ key }} = {{ value }}
{%      endfor -%}
{%    else -%}
{%      if setting is sameas True -%}
{%        set value = 'yes' -%}
{%      elif setting is sameas False -%}
{%        set value = 'no'-%}
{%      else -%}
{%        set value = setting -%}
{%      endif -%}
{{ key }} = {{ value }}
{%    endif -%}
{% endfor -%}
{% endmacro -%}
